In [1]:
# Reference:
# online free docs:    https://pandas.pydata.org/pandas-docs/stable

In [2]:
import numpy as np
import pandas as pd

In [10]:
#### pandas series objects#######
# very similar to numpy arrays, but with axis labels (as denoted by the index)
###############################################################################

## How to create a series##

In [6]:
lst = [10,20,30]
ser = pd.Series(data=lst)

In [7]:
ser

0    10
1    20
2    30
dtype: int64

In [ ]:
# index labels (default index)

In [8]:
# use the index parameter instead of the default## 
lst = [10,20,30]
ser = pd.Series(data=lst,index=['a','b','c'])

In [9]:
ser

a    10
b    20
c    30
dtype: int64

In [ ]:
# Create a Series object out of an Numpy array

In [11]:
arr = np.array([100,200,300])

In [13]:
ser = pd.Series(data=arr)
ser

0    100
1    200
2    300
dtype: int64

In [15]:
# predefine an index for a series#

In [16]:
arr = np.array([100,200,300])
idx = ['a','b','c']
ser = pd.Series(data=arr,index=idx)
ser

a    100
b    200
c    300
dtype: int64

In [17]:
# Use a dictionary to create a series

In [21]:
dct = {'r':1000,'s':2000,'t':3000}
ser = pd.Series(data=dct)
ser

r    1000
s    2000
t    3000
dtype: int64

In [22]:
# You can give your Series a Name #

In [48]:
## Set seed value for random so that the numbers generated can be reused##
#np.random.seed(0)

#np.random.normal(loc=3,scale=2,size=3)
#loc = mu (Population Mean)     and scale = sigma (standard deviation) 

## The following is more important when you are attempting to concat a Series with a Panda's DataFrame 

np.random.seed(0)
ser = pd.Series(data=np.random.normal(size=3),index=['a','b','c'],name='X')
ser

a    1.764052
b    0.400157
c    0.978738
Name: X, dtype: float64

In [49]:
# How to index a panda's Series object

In [50]:
ser = pd.Series([10,20,30,40,50])
ser

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [51]:
ser[2]

30

In [52]:
# You can also specify the idex

In [54]:
ser = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
ser

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [55]:
ser['c']

30

In [58]:
# You can continue to use implicit index (positional index of the element) by calling iloc

In [59]:
ser.iloc[2]

30

In [ ]:
##
## If you have defined explict labels, try and stick with using me vs switching between explict and implicit because
## it can cause confusion
##